.btn {
  width: 264px;
  height: 62px;
  color: #fff;
  font-size: 20px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: var(--fw-semibold);
  line-height: 24px;
  border: none;
  border-radius: 5px;
}

.btn-action-group {
  display: flex;
  justify-content: center;
  padding-top: 115px;
  padding-bottom: 87px;
}

.btn-active {
  width: 80px;
  padding: 4px 12px;
  border-radius: 5px;
  border-radius: 4px;
  border: 1px solid #00b087;
  background: rgba(22, 192, 152, 0.38);
  color:#008767;
  font-size: 14px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight:var(--fw-medium);
  line-height: normal;
  letter-spacing: -0.14px;
}

.btn-inactive {
  width: 80px;
  padding: 4px 12px;
  border-radius: 5px;
  border-radius: 4px;
  border: 1px solid var(--btn-color);
  background: #ffc5c5;
  color: var(--btn-color);
  font-size: 14px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight:var(--fw-medium);
  line-height: normal;
  letter-spacing: -0.14px;
}

.btn-primary {
  background-color: #377def;
  margin-right: 64px;
}

.btn-secondary {
  background-color: var(--secondary-color);
}

.action-btn {
  padding: 15px 35px 10px 19px;
  text-align: left;
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--fw-regular);
  line-height: normal;
  letter-spacing: -0.14px;
  border: none;
  background: #fff;
}