.btn {
  width: 264px;
  height: 62px;
  color: #fff;
  font-size: 20px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: var(--fw-semibold);
  line-height: 24px;
  border: none;
  border-radius: 5px;
}

.btn-action-group {
  display: flex;
  justify-content: center;
  padding-top: 115px;
  padding-bottom: 87px;
}

.btn-primary {
  background-color: #377def;
  margin-right: 64px;
}

.btn-secondary {
  background-color: var(--secondary-color);
}
