/* dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}
  
.select-dropdown {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Display image in dropdown */
.icon-dropdown {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  cursor: pointer;
  vertical-align: middle;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.active {
  display: block;
}

.dropdown-item {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f2f2f2;
}
