.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.icon-cancel {
  cursor: pointer;
}

.input-form-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 63px;
}

.input-control {
  width: 350px;
  height: 60px;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-bottom: 42px;
  padding-left: 10px;
  font-size: 16px;
}

.toggle-control-title {
  padding-right: 34px;
  color: var(--secondary-color);
  font-size: 20px;
  font-family: var(--secondary-font);
  font-weight: var(--fw-medium);
  line-height: var(--lineHeight-primary);
}

.mess-invalid-form {
  display: block;
  padding-bottom: 9px;
  margin-top: -30px;
  color: var(--mess-color);
  font-family: var(--secondary-font);
  font-size: var(--fs-primary);
  font-weight: var(--fw-medium);
  line-height: var(--lineHeight-primary);
}

.valid-check {
  border: 1px solid var(--mess-color);
}

.icon-cancel-submit {
  cursor: pointer;
}

#country {
  cursor: pointer;
}
