.header {
  padding-bottom: 49px;
}

.header-title {
  color: var(--primary-color);
  font-size: 22px;
  font-family: var(--primary-font);
  font-weight: var(--fw-semibold);
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.22px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.icon-add-modal {
  cursor: pointer;
}

.icon-add-modal:hover {
  border-radius: 50%;
  border: 1px solid;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  width: 216px;
  height: 38px;
  border-radius: 10px;
  background: var(--bg-color);
}

.search-text {
  border: none;
  background: var(--bg-color);
  color: var(--primary-color);
  font-size: 12px;
  font-family: var(--primary-font);
  font-weight: var(--fw-regular);
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.12px;
  margin-left: 8px;
  outline: none;
}

.sort-type {
  font-weight: bold;
  color: #3d3c42;
  font-family: var(--primary-font);
  font-size: 12px;
  font-weight: var(--fw-semibold);
  letter-spacing: -0.12px;
}

.table-customer {
  width: 100%;
}

.table-data {
  margin: 24px 0;
}

.table-heading {
  color: var(--secondary-color);
  font-size: 14px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: var(--fw-medium);
  line-height: normal;
  letter-spacing: -0.14px;
  padding-bottom: 34px;
  text-align: left;
}

.table-body {
  position: relative;
  color: var(--text-color);
  font-size: 14px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: var(--fw-medium);
  line-height: normal;
  letter-spacing: -0.14px;
  border-top: 1px solid #eee;
}

.table-data-icon {
  display: flex;
  gap: 10px;
  align-items: center;
}

.action-panel {
  visibility: hidden;
  position: absolute;
  /* height: 71px; */
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  top: 72%;
  left: 95%;
}

.data-summary {
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--fw-medium);
  line-height: normal;
  letter-spacing: -0.14px;
  padding-top: 32px;
}

.table-footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.session-pagination {
  padding-right: 30px;
}

.arrow-button {
  width: 26px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid #eee;
  background: #f5f5f5;
  margin-right: 10px;
  color: #404b52;
}

.img-dot-customer {
  cursor: pointer;
  padding-left: 10px;
}

