:root {
  --primary-color: #000;
  --bg-color: #f9fbff;
  --secondary-color: #b5b7c0;
  --accent-color: #aab0b7;
  --text-color: #292d32;
  --primary-font: 'Poppins';
  --secondary-font: 'Inter';
  --fw-semibold: 600;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

* {
  padding: 0;
  margin: 0;
}

.main {
  position: relative;
  width: 968px;
  transform: translate(50%, 30%);
  border: 1px solid #000;
  border-radius: 10px;
  padding: 30px 22px 41px 38px;
}

.form-title {
  color: var(--primary-color);
  font-size: 36px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: var(--fw-semibold);
  line-height: normal;
  letter-spacing: 0.36px;
  padding-bottom: 52px;
}

.btn {
  width: 264px;
  height: 62px;
  color: #FFF;
  font-size: 20px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: var(--fw-semibold);
  line-height: 24px;
  border: none;
  border-radius: 5px;
}

/* set font-family */
@font-face {
  font-family: 'Poppins';
  src: url(../font/poppins-semiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url(../font/poppins-regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url(../font/poppins-medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url(../font/inter-bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url(../font/inter-medium.ttf);
  font-weight: 500;
}
